body{
    color: #DDB9A3;
    background: white;
}
div.container nav a {
    margin: 10px;
    padding: 20px;
    text-align:center;
    border-radius: 20px;

}
.visit {
    color: white;
    Background-color:#FF764E;
    text-align: left;
    margin: 25px;
    padding: 10px;
    border-radius: 10px;
}
.park {
    color: white;
    background-color: #5ED3EB;
    text-align: center;
    margin: 25px;
    padding: 10px;
    border-radius: 10px;
}
.picture1 {
height: 300px;
width: 300px;
margin: 50px;
padding: 50px;
border-radius: 50%;}