body{
    color: #DDB9A3;
    background: white;
}
div.container nav a {
    margin: 10px;
    padding: 20px;

}
.visit {
    color: white;
    Background-color:#FF764E;
    text-align: left;
    margin: 20px;
    padding: 5px;
}
.picture1 {
height: 200px;
width: 300px
}