body{
    color: #DDB9A3;
    background: white;
}
div.container nav a {
    margin: 10px;
    padding: 20px;
    text-align:center;
    border-radius: 20px;
    

}
.visit {
    color: white;
    Background-color:#FF764E;
    margin: 25px;
    padding: 10px;
    border-radius: 10px;
    display: inline-flex;
    justify content: left;

}
.park {
    color: white;
    background-color: #5ED3EB;
    margin: 25px;
    padding: 10px;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center; 
}
.picture1 {
height: 250px;
width: 250px;
margin: 50px;
padding: 50px;
border-radius: 50%;}